__pycache__/
*.py[cod]
*.so
*.dylib
*.egg-info/
.build/
.dist/
.env/
.venv/
venv/
.dist-info/
.coverage
htmlcov/
.mypy_cache/
.pytest_cache/
.DS_Store
__pypackages__/
demo_artifacts/
demo_*.npy
demo_*.json
